.phpactor.json
.nvimrc.lua
LICENSE*
README.md
.env.example
web/app/uploads
**/certs
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/Dockerfile*
**/docker-compose*
**/compose.y*ml
**/compose.*.y*ml
!**/composer.json
!**/composer.lock
**/node_modules
**/vendor
