web/app/uploads
web/app/plugins/query-monitor
web/app/plugins/redis-cache
.phpactor.json
phpcs.xml
./bin
.nvimrc.lua
LICENSE*
README.md
.env.example
Makefile
**/.pnpm-store
**/certs
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/Dockerfile*
**/docker-compose*
**/compose.y*ml
**/compose.*.y*ml
!**/composer.json
!**/composer.lock
**/node_modules
**/vendor
